<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firstapplicationhelloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="About Me"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstApplicationHelloWorld">
        <activity
            android:name=".education_activity"
            android:label="Education"
            android:exported="false" />
        <activity
            android:name=".achievements_activity"
            android:label="Achievements"
            android:exported="false" />
        <activity
            android:name=".hobbies_avctivity"
            android:label="Hobbies"
            android:exported="false" />
        <activity
            android:name=".skills_activivity"
            android:label="Skills"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>